<ion-content>

  <ion-header>
    <ion-toolbar>
      <div class="menu-container">
        <span>Item search</span>
        <div>
          <ion-searchbar animated debounce="500" (ionChange)="searchSpecificItem($event)"></ion-searchbar>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of itemListData">
      <ion-label>
        <ion-text>
          <h2>{{item.name }}</h2>
          <p>{{item.category | titlecase}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more items..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
