<ion-content>

  <ion-header>
    <ion-toolbar>
      <div class="menu-container">
        <span>Item search</span>
        <div>
          <ion-searchbar animated debounce="500" (ionChange)="searchSpecificItem($event)"></ion-searchbar>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of itemListData">
      <div class="card-container">
        <img class="item-thumb" [src]="item?.images?.thumb">
        <div class="main-information">
          <span class="header-info">{{item.category | titlecase}} - {{item.name }}</span>
          <div *ngFor="let game of item.games | keyvalue">
            <span class="pricing-info">{{convertGameKey(game?.key)}} Price: {{getBuyPrice(game?.value)}}</span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more items..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
